{% extends "index.html"%}

{% block content %}
<div class="blog">
  {% for entry in posts%}
  <h1>{{entry.subject}}</h1>
  <p>{{entry.content}}</p>
  <p>{{entry.user.user}}</p>
  <p>{{entry.created}}</p>
  {% set id = entry.key().id()%}
  {% if user %}
    <form id="{{id}}" method="post">
      <input type="hidden" name="post_comment" value="{{id}}">
      {% if user.user == entry.user.user %}
        <button class="btn btn-primary" type="submit" value="Edit" name="task">Edit</button>
        <button class="btn btn-primary" type="submit" value="Delete"name="task">Delete</button>
      {% endif %}
      <button class="btn btn-primary" type="submit" value="Comment" name="task">Comment</button>
      <button class="btn btn-primary" type="submit" value="Like" name="task">Like</button>
    </form>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
