<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Multi-User Blog</title>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar">
        <!-- Collect the nav links, forms, and other content for toggling -->
       <ul class="nav nav-tabs">
         <li><a href="/">Home</a></li>
         {% if user %}
         <li><span>Signed in as {{user.user}}</span></li>
         <li><a href="/newpost">New Post</a></li>
         <li><a href="/logout">Sign Out</a></li>
         {% else %}
         <li><a href="/signup">Sign Up</a></li>
         <li><a href="/login">Sign In</a></li>
         {% endif %}
       </ul>
    </nav>

    <!-- Content -->
    <div class="container content">

    {% block content%}
      <h1>Welcome {{username}}</h1>
    {% endblock %}
    </div>
  </body>
</html>
